.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    margin-top: 30px;
    width: 400px;
    height: 500px;
    background: rgb(204, 238, 173);
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
    color: rgb(43, 99, 35);
}

.image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(172, 240, 110);
    margin: 30px auto 0;
}


.button {
    width: 130px;
    height: 35px;
    font-size: 13px;
    background-color: rgb(218, 213, 213);
    color: black;
    border: none;
    cursor: pointer;
}